/* Variaveis de cor e fonte */
:root {
  --primary-color: #FE6767;
  --dark-color: #545454;
  --gray-color: #B6B6B6;
  --white-color: #FFFFFF;

  --font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-family);
}

/* Responsividade específica para o MAC */
@media(min-width: 2560px) {

  .fundoRetangulo {
    width: 30.7vw;
  }

  li {
    margin-left: 80px;
    width: 150px;
  }
  
  .caracteristicas {
    margin-left: 30%;
  }
}

/* Responsividade para desktop */
@media(min-width: 1920px) {

  .imgBike1 {
    top: 130px;
  }

  ul {
    gap: 120px;
  }

  button {
    margin-top: 20px;
  }

  a {
    color: var(--primary-color);
  }
}


/* Responsividade para tablet */
@media(max-width: 1024px) {

  button {
    background-color: var(--white-color);
    color: #FE6767;
  }

}

/* Responsividade mobile  */
@media(max-width: 1023px) {

  body {
    padding: 10px;
  }

  .fundoTriangulo {
    clip-path: polygon(0% 80%, 200% 30%, 0% 170%);
    width: 100vw;
    left: 0;
  }

  .fundoRetangulo {
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
    top: 90px;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  li:nth-child(1) {
    width: 160px;
  }

  li:nth-child(2) {
    color: var(--white-color);
    margin-left: -60px;
    margin-top: 100px;
    font-size: 0.8rem;
  }

  li:nth-child(3) {
    color: var(--white-color);
    margin-top: 100px;
    margin-left: 70px;
    font-size: 0.8rem;
    width: 130px;
  }

  li:nth-child(4) {
    margin-top: 100px;
    color: var(--white-color);
    margin-left: 70px;
    font-size: 0.8rem;
    width: 280px;
  }

  .text {
    display: grid;
    gap: 10px;
    height: 600px;
    margin-top: -120px;
  }

  h2 {
    font-size: 2rem;
    width: 350px;
    margin-left: 30px;
  }

  .join {
    display: none;
  }

  button {
    background-color: var(--white-color);
    color: var(--primary-color);
    margin-top: 40vh;
    margin-left: 100px;
  }

  a {
    color: var(--white-color);
    margin-bottom: 80px;
    margin-left: 155px;
  }

  .imgBike2 {
    display: none;
  }

  .imgBike1 {
    padding-top: 120px;
    margin-right: -120px;
  }

  .caracteristicas {
    display: none;
  }

}